<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info">
    <Properties>
        <Property name="log-path">./logs</Property>
        <Property name="pattern">%d [%t] %-5level: %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="TraceOut">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="debugFile" fileName="${log-path}/debug/debug.log"
                     filePattern="${log-path}/debug/$${date:yyyy-MM}/debug-%d{MM-dd-yyyy}-%i.gz">
            <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="errorFile" fileName="${log-path}/error/error.log"
                     filePattern="${log-path}/error/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="traceFile" fileName="${log-path}/trace/trace.log"
                     filePattern="${log-path}/trace/$${date:yyyy-MM}/trace-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com" level="trace" additivity="false">
            <AppenderRef ref="TraceOut" level="trace"/>
            <AppenderRef ref="debugFile" level="debug"/>
            <AppenderRef ref="errorFile" level="error"/>
            <AppenderRef ref="traceFile" level="trace"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="TraceOut" level="info"/>
        </Root>
    </Loggers>
</Configuration>